body {
    font-family: "Gilroy-Medium", sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    color: $primary-color;
}

.wrapper {
    width: 65.3%;
    margin: 0 auto;

    @include phone-L {
        width: 84%;
    }
}

%none-decorated {
    text-decoration: none;
    color: inherit;
}

a {
    @extend %none-decorated;
}

h1 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 48px;
    line-height: 59px;
}

h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 34px;
    line-height: 42px;
}