.header {
    position: relative;
}

.header__burger-menu {
    display: none;

    @include phone-L {
        display: block;
        position: absolute;
        top: 75px;
        right: 30px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }
        
        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
  
            background: $primary-color;
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
  
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }

        span:first-child {
            transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked ~ span {
            opacity: 80%;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $secondary-color;
        }

        input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        .header__phone-navigation {
            position: absolute;
            width: 100vw;
            height: 100vh;
            padding: 30px;
            padding-top: 65px;
            margin: -117vh 0 0 -80vw;
            background: $additional-color;
            color: $secondary-color;
            transition: color 0.3s ease;
            -webkit-font-smoothing: antialiased;
      
            transform-origin: 0% 0%;
            transform: translate(0, 0);
      
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        input:checked ~ .header__phone-navigation {
            transform: translate(0, 100%);
            overflow: hidden;
        }
    
        li {
            font-size: 34px;
            line-height: 1.3;
            margin-bottom: 60px;
        }
    }
}

.header__navigation .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-color;
    transition: color 0.3s ease;
    font-weight: 800;
    height: 88px;
    opacity: 80%;
    letter-spacing: 1px;
    border-bottom: 2px solid $header-line-color;

    @include phone-L {
        display: none;
    }    
}

.nav-list__item:hover, .nav-list__item:active {
    color: $primary-color;
    opacity: 100%;
}

.nav-list__item--active {
    color: $primary-color;
    opacity: 100%;
}